@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -12px;
  margin-right: -12px;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}

.no-gutter .col-12, .no-gutter .col-11, .no-gutter .col-10, .no-gutter .col-9, .no-gutter .col-8, .no-gutter .col-7, .no-gutter .col-6, .no-gutter .col-5, .no-gutter .col-4, .no-gutter .col-3, .no-gutter .col-2, .no-gutter .col-1 {
  padding-right: 0;
  padding-left: 0;
}

.col-1 {
  max-width: 8.3333333333%;
  flex: 0 0 8.3333333333%;
}
@media (max-width: 540px) {
  .col-1 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-2 {
  max-width: 16.6666666667%;
  flex: 0 0 16.6666666667%;
}
@media (max-width: 540px) {
  .col-2 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}
@media (max-width: 540px) {
  .col-3 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-4 {
  max-width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
}
@media (max-width: 540px) {
  .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-5 {
  max-width: 41.6666666667%;
  flex: 0 0 41.6666666667%;
}
@media (max-width: 540px) {
  .col-5 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 540px) {
  .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-7 {
  max-width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
}
@media (max-width: 540px) {
  .col-7 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-8 {
  max-width: 66.6666666667%;
  flex: 0 0 66.6666666667%;
}
@media (max-width: 540px) {
  .col-8 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
}
@media (max-width: 540px) {
  .col-9 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-10 {
  max-width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
}
@media (max-width: 540px) {
  .col-10 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-11 {
  max-width: 91.6666666667%;
  flex: 0 0 91.6666666667%;
}
@media (max-width: 540px) {
  .col-11 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-12 {
  max-width: 100%;
  flex: 0 0 100%;
}
@media (max-width: 540px) {
  .col-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 1140px) {
  .col-pc-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
}

@media (max-width: 1140px) {
  .col-pc-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
}

@media (max-width: 1140px) {
  .col-pc-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 1140px) {
  .col-pc-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

@media (max-width: 1140px) {
  .col-pc-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
}

@media (max-width: 1140px) {
  .col-pc-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 1140px) {
  .col-pc-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
}

@media (max-width: 1140px) {
  .col-pc-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
}

@media (max-width: 1140px) {
  .col-pc-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

@media (max-width: 1140px) {
  .col-pc-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
}

@media (max-width: 1140px) {
  .col-pc-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}

@media (max-width: 1140px) {
  .col-pc-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 720px) {
  .col-pad-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
}

@media (max-width: 720px) {
  .col-pad-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
}

@media (max-width: 720px) {
  .col-pad-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 720px) {
  .col-pad-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

@media (max-width: 720px) {
  .col-pad-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
}

@media (max-width: 720px) {
  .col-pad-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 720px) {
  .col-pad-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
}

@media (max-width: 720px) {
  .col-pad-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
}

@media (max-width: 720px) {
  .col-pad-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

@media (max-width: 720px) {
  .col-pad-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
}

@media (max-width: 720px) {
  .col-pad-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}

@media (max-width: 720px) {
  .col-pad-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 540px) {
  .col-mob-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 540px) {
  .col-mob-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 540px) {
  .col-mob-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

@media (max-width: 540px) {
  .col-mob-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.mt-3 {
  margin-top: 24px;
}

.mr-half-1 {
  margin-right: 4px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mb-half-1 {
  margin-bottom: 4px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-15 {
  margin-bottom: 120px;
}

.mb-20 {
  margin-bottom: 160px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.pt-12 {
  padding-top: 96px;
}

.pr-4 {
  padding-right: 32px;
}

.pb-12 {
  padding-bottom: 96px;
}

.pl-3 {
  padding-left: 24px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-stretch {
  flex: 1 1 0;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.position-a {
  position: absolute;
}

.btn {
  padding: 8px 16px 6px 16px;
  border-radius: 40px;
  background-color: transparent;
}
.btn:hover {
  background-color: #FFF066;
}

.heartBtn,
.bellBtn,
.userBtn {
  font-size: 1.5rem;
  padding: 8px 12px;
}

.heartBtn {
  color: #F095FF;
}

.bellBtn {
  color: #66C5D2;
}

.userBtn {
  color: #FFCD1A;
}
.userBtn:hover {
  color: #3C3C3C;
}

.funcBtn-hover .funcBtn-solid {
  display: none;
}
.funcBtn-hover:hover .funcBtn-outline {
  display: none;
}
.funcBtn-hover:hover .funcBtn-solid {
  display: inline-block;
}

.imgBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgBtn:hover > img {
  border: 5px solid #FFF066;
  box-shadow: 4px 8px 0 0 transparent;
  margin-bottom: 18px;
  margin-left: -3px;
  margin-right: -3px;
}
.imgBtn:hover > span {
  background-color: #FFF066;
  font-weight: 700;
}
.imgBtn img {
  margin-bottom: 24px;
  border-radius: 50%;
  border: 2px solid #3C3C3C;
  box-shadow: 4px 8px 0 0 #FFF066;
  transition: all ease 0.2s;
}
.imgBtn span {
  padding: 8px 24px 6px 24px;
  border-radius: 40px;
  font-size: 1.25rem;
  transition: all ease 0.5s;
}

.btn-shadow {
  padding: 16px 40px;
  border: 2px solid #3C3C3C;
  border-radius: 40px;
  box-shadow: 4px 8px 0 0 #3C3C3C;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #FFF066;
  margin-right: 4px;
}
.btn-shadow:hover {
  box-shadow: 0px 0px 0 0 #3C3C3C;
  margin-left: 4px;
  margin-top: 8px;
  margin-bottom: -8px;
}

.fileerBtn {
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 50%;
  border: 1px solid #3C3C3C;
  background-color: #FFF066;
}

.switchBar {
  position: static;
  z-index: 1;
  padding: 8px 12px;
  border-radius: 50px;
  background-color: #ffffff;
}

.switchBar-border {
  align-items: center;
  display: flex;
  border: 1px solid #3C3C3C;
  background-color: #FFF066;
}

.switchBar-text a {
  font-size: 1rem;
  padding: 20px 30px;
  border-radius: 50px;
}

.switchBar-text a:hover,
.switchBar .switch-active {
  background-color: #FFF066;
  font-weight: 700;
}

.switchBar-icon a {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.switchBar-border a:hover,
.switchBar-border .switch-active {
  background-color: #ffffff;
  border: 1px solid #3C3C3C;
}

.searchBar {
  position: relative;
  z-index: 1;
}
.searchBar .searchBar-input {
  width: 100%;
  height: 100%;
  padding: 0 32px;
  border-radius: 50px;
  border: 3px solid transparent;
  font-size: 1rem;
  transition: all ease 0.5s;
}
.searchBar .searchBar-input:focus, .searchBar .searchBar-input:hover {
  border: 3px solid #FFF066;
  transition: all ease 0.5s;
}
.searchBar .searchBar-input:focus + .searchBar-icon, .searchBar .searchBar-input:hover + .searchBar-icon {
  color: #FFCD1A;
}
.searchBar .searchBar-icon {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  transition: all ease 0.5s;
}

.searchBar-border .searchBar-input {
  border: 1px solid #3C3C3C;
}
.searchBar-border .searchBar-input:focus, .searchBar-border .searchBar-input:hover {
  border: 3px solid #FFCD1A;
}

.subtitle {
  position: relative;
  display: inline-block;
  padding: 8px 24px 6px 24px;
  border-radius: 40px;
  border: 2px solid #3C3C3C;
  background-color: #FFF066;
  font-size: 1.5rem;
  font-weight: 700;
}
.subtitle::after {
  content: url(../../IMAGES/deco_manyAngleStar.svg);
  position: absolute;
  z-index: -1;
  bottom: -0.5em;
  left: -2em;
  transform: scale(0.95);
}

.subdiscrip {
  position: relative;
  margin-top: 16px;
  padding-left: 50px;
  font-size: 1.25rem;
}
.subdiscrip::before {
  content: "";
  position: absolute;
  left: 25px;
  width: 1px;
  height: 50%;
  border-left: 1px solid #3C3C3C;
}
.subdiscrip::after {
  content: "✦";
  position: absolute;
  left: 17px;
  bottom: 0;
}

.carouel-num {
  font-size: 1.5rem;
  font-weight: 700;
}

.carouel-dot {
  font-size: 0.875rem;
  color: #D1D1D1;
}
.carouel-dot i {
  transition: all ease 0.5s;
  padding: 2px;
}
.carouel-dot i:hover,
.carouel-dot .active {
  color: #F095FF;
}

.carouel-divider {
  height: 1px;
  border-bottom: 1px dashed #3C3C3C;
}

.carouel-arrow {
  display: flex;
}

.carouel-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #F095FF;
}
.carouel-arrow-btn:hover {
  background-color: #99E4EE;
}

.carouel-arrow-btn.disable {
  background-color: #F3F2F2;
  color: #BDBDBD;
  border: 1px solid #BDBDBD;
  cursor: not-allowed;
}

.rateSection {
  display: flex;
  align-items: center;
}

.score {
  font-size: 2.25rem;
  font-weight: 900;
}

.starBtn .star:hover {
  background-image: url(../../IMAGES/star_empty.svg);
}

.star {
  display: inline-block;
  width: 38px;
  height: 36px;
  background-image: url(../../IMAGES/star_full.svg);
  background-size: cover;
}

.userPhoto-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #000000;
  box-shadow: 4px 8px 0 #FFF066;
}

.message {
  position: relative;
  padding: 0 24px 16px 80px;
  font-family: "Noto Sans TC";
  border: 1px solid #000000;
  border-radius: 16px;
}

.message-header {
  margin-top: -12px;
}

.message-photo {
  position: absolute;
  top: -24px;
  left: -24px;
}

.message-title,
.message-rate {
  padding: 0 4px;
  background-color: #ffffff;
}

.message-name {
  font-size: 1.25rem;
}

.message-allNum {
  font-size: 0.875rem;
}

.message-rate .star {
  width: 19.5px;
  height: 19px;
}

.message-infor {
  font-size: 0.875rem;
  text-align: right;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Oleo Script", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  color: #3C3C3C;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #3C3C3C;
  transition: all ease 0.5s;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}

.full-container {
  width: 100%;
}

button,
a,
input,
select,
textarea {
  cursor: pointer;
}

.pushSpace {
  padding-top: 60px;
}

.logo,
.logo-outline {
  position: relative;
  display: inline-block;
  padding: 44px 24px 16px 24px;
  background-color: #FFF066;
  transition: all ease 0.5s;
}
.logo::before,
.logo-outline::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  background-color: #3C3C3C;
  transition: all ease 0.5s;
}

.logo {
  border: 1px solid transparent;
}
.logo::before {
  left: 0px;
  height: 100%;
}

.logo-outline,
.logo:hover {
  border: 1px solid #3C3C3C;
}
.logo-outline::before,
.logo:hover::before {
  top: -2px;
  left: 4px;
  height: calc(100% + 6px);
}

.logo-outline:hover:before {
  left: 0px;
  height: 100%;
}

.logo-text {
  font-size: 1.75vw;
  font-weight: 700;
}

.navbar,
.navbar-link,
.navbar-funcBtn {
  display: flex;
  align-items: center;
}

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  justify-content: flex-end;
  padding: 4px 48px 4px 0;
}
.navbar .logo,
.navbar .logo-outline {
  position: absolute;
  top: 0;
  left: 48px;
}

.navbar-link li {
  padding: 0 16px;
}

.navbar-hide .navbar-link {
  display: none;
}

.navbar-show {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0823529412);
  background-color: #ffffff;
  border-bottom: 1px solid #3C3C3C;
}
.navbar-show .navbar-link {
  display: flex;
}

#footer {
  position: relative;
  width: 100%;
  margin-top: 20px;
  background-color: #FFF066;
}
#footer::after, #footer::before {
  content: "";
  position: absolute;
  width: 100%;
}
#footer::after {
  top: -12px;
  height: 12px;
  background-color: #F095FF;
}
#footer::before {
  top: -20px;
  height: 8px;
  background-color: #99E4EE;
}

.footer-container {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0;
}

.footer-infor,
.footer-list {
  font-size: 0.875rem;
}

.footer-infor {
  width: 30%;
  text-align: right;
  font-weight: 300;
}

.footer-list {
  width: 30%;
  writing-mode: vertical-lr;
  letter-spacing: 4px;
}
.footer-list a {
  padding: 0 4px;
}
.footer-list a:hover {
  color: #92409F;
  font-weight: 700;
}

.topBtn {
  position: absolute;
  top: -48px;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  font-size: 1.25rem;
  background-color: #3C3C3C;
  color: #ffffff;
}
.topBtn:hover {
  top: -54px;
}

.index-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url(https://raw.githubusercontent.com/minnnn7716/whatToDrink/main/IMAGES/indexBanner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.index-title {
  position: relative;
  z-index: 1;
  letter-spacing: 1.5;
}

.index-title .title-text {
  position: relative;
  z-index: 5;
  font-size: 2.25rem;
  font-weight: 700;
  color: #F095FF;
  margin-left: 0.4em;
}
.index-title .title-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -0.2em;
  left: -0.3em;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 0 6px #F095FF;
}

.index-title-inside {
  position: absolute;
  top: 0;
  left: 0;
}
.index-title-inside .title-text.bg::after {
  box-shadow: 0 0 0 1px #ffffff;
}

.subtitleSection {
  font-size: 1.25rem;
  font-weight: 700;
}
.subtitleSection h3 {
  padding: 8px 24px;
  border-radius: 30px;
  border: 2px solid #3C3C3C;
}
.subtitleSection h3:first-child {
  background-color: #FFF066;
}
.subtitleSection h3:last-child {
  background-color: #99E4EE;
  margin-left: -0.5em;
}

#index .searchBar-input {
  width: 600px;
}

.header-deco-right {
  width: 25%;
  top: 0;
  right: 10%;
}

.header-deco-left {
  width: 35%;
  bottom: 10%;
  left: 0;
}

.inedx-wheel {
  padding: 160px 0;
  overflow: hidden;
}

.inedx-wheel-block {
  position: relative;
  width: 100%;
  background-color: #6D6FC9;
  text-align: center;
}

.inedx-wheel-text {
  position: relative;
  z-index: 5;
}
.inedx-wheel-text h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.inedx-wheel-text p {
  font-size: 1.25rem;
  color: #ffffff;
}

.inedx-wheel-img {
  position: absolute;
}

.inedx-wheel-pc-person {
  z-index: 3;
  bottom: -24px;
  width: 32vw;
}

.inedx-wheel-pc-drink {
  z-index: 2;
  right: 12vw;
  bottom: -32px;
  width: 53vw;
}

.inedx-wheel-pc-wheel {
  z-index: 1;
  right: -6vw;
  top: -72px;
  width: 25vw;
}

.inedx-recommend-imgSection {
  position: relative;
}

.recommend-titleSection {
  position: absolute;
  top: -0.5em;
  left: -1em;
  display: flex;
  writing-mode: vertical-lr;
  letter-spacing: 0.5em;
}

.recommend-title {
  position: relative;
  margin-bottom: 4px;
  padding-right: 4px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5em;
  text-shadow: -2px 2px 0 #ffffff, 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px -2px 0 #ffffff;
}

.recommend-shopTag {
  font-size: 1.25rem;
  padding: 12px 6px 12px 8px;
  border: 1px solid #3C3C3C;
  border-radius: 40px;
  background-color: #ffffff;
}

.recommend-inforSection {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.inedx-recommend-textSection {
  position: relative;
  overflow-y: scroll;
}
.inedx-recommend-textSection .messageGroup {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 16px;
}

.inedx-recommend-textSection::-webkit-scrollbar-track {
  padding: 1px 0;
  background-color: #EFFDFF;
  border: 1px solid #99E4EE;
  border-radius: 10px;
}

.inedx-recommend-textSection::-webkit-scrollbar {
  width: 10px;
}

.inedx-recommend-textSection::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #99E4EE;
  border: 1px solid #7C7C7C;
}/*# sourceMappingURL=all.css.map */