@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -12px;
  margin-right: -12px;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}

.no-gutter .col-12, .no-gutter .col-11, .no-gutter .col-10, .no-gutter .col-9, .no-gutter .col-8, .no-gutter .col-7, .no-gutter .col-6, .no-gutter .col-5, .no-gutter .col-4, .no-gutter .col-3, .no-gutter .col-2, .no-gutter .col-1 {
  padding-right: 0;
  padding-left: 0;
}

.col-1 {
  max-width: 8.3333333333%;
  flex: 0 0 8.3333333333%;
}
@media (max-width: 540px) {
  .col-1 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-2 {
  max-width: 16.6666666667%;
  flex: 0 0 16.6666666667%;
}
@media (max-width: 540px) {
  .col-2 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}
@media (max-width: 540px) {
  .col-3 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-4 {
  max-width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
}
@media (max-width: 540px) {
  .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-5 {
  max-width: 41.6666666667%;
  flex: 0 0 41.6666666667%;
}
@media (max-width: 540px) {
  .col-5 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 540px) {
  .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-7 {
  max-width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
}
@media (max-width: 540px) {
  .col-7 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-8 {
  max-width: 66.6666666667%;
  flex: 0 0 66.6666666667%;
}
@media (max-width: 540px) {
  .col-8 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
}
@media (max-width: 540px) {
  .col-9 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-10 {
  max-width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
}
@media (max-width: 540px) {
  .col-10 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-11 {
  max-width: 91.6666666667%;
  flex: 0 0 91.6666666667%;
}
@media (max-width: 540px) {
  .col-11 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-12 {
  max-width: 100%;
  flex: 0 0 100%;
}
@media (max-width: 540px) {
  .col-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 1330px) {
  .col-pc-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
}

@media (max-width: 1330px) {
  .col-pc-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
}

@media (max-width: 1330px) {
  .col-pc-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 1330px) {
  .col-pc-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

@media (max-width: 1330px) {
  .col-pc-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
}

@media (max-width: 1330px) {
  .col-pc-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 1330px) {
  .col-pc-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
}

@media (max-width: 1330px) {
  .col-pc-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
}

@media (max-width: 1330px) {
  .col-pc-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

@media (max-width: 1330px) {
  .col-pc-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
}

@media (max-width: 1330px) {
  .col-pc-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}

@media (max-width: 1330px) {
  .col-pc-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 850px) {
  .col-pad-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
}

@media (max-width: 850px) {
  .col-pad-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
}

@media (max-width: 850px) {
  .col-pad-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 850px) {
  .col-pad-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

@media (max-width: 850px) {
  .col-pad-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
}

@media (max-width: 850px) {
  .col-pad-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 850px) {
  .col-pad-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
}

@media (max-width: 850px) {
  .col-pad-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
}

@media (max-width: 850px) {
  .col-pad-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

@media (max-width: 850px) {
  .col-pad-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
}

@media (max-width: 850px) {
  .col-pad-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}

@media (max-width: 850px) {
  .col-pad-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 540px) {
  .col-mob-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 540px) {
  .col-mob-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 540px) {
  .col-mob-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

@media (max-width: 540px) {
  .col-mob-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.mt-half-3 {
  margin-top: 12px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-5 {
  margin-top: 40px;
}

.mr-half-1 {
  margin-right: 4px;
}

.mr-half-3 {
  margin-right: 12px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mb-half-1 {
  margin-bottom: 4px;
}

.mb-half-3 {
  margin-bottom: 12px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-15 {
  margin-bottom: 120px;
}

.mb-20 {
  margin-bottom: 160px;
}

.ml-half-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-8 {
  padding-top: 64px;
}

.pt-12 {
  padding-top: 96px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 24px;
}

.pr-4 {
  padding-right: 32px;
}

.pb-8 {
  padding-bottom: 64px;
}

.pb-12 {
  padding-bottom: 96px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 24px;
}

.pl-4 {
  padding-left: 32px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-stretch {
  flex: 1 1 0;
}

.justufy-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.position-a {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.pointer-none {
  pointer-events: none;
}

.text-center {
  text-align: center;
}

.h-50 {
  height: 50%;
}

.white-border {
  text-shadow: -2px -2px 0 #ffffff, 0 -2px 0 #ffffff, 2px -2px 0 #ffffff, 2px 0 0 #ffffff, 2px 2px 0 #ffffff, 0 2px 0 #ffffff, -2px 2px 0 #ffffff, -2px 0 0 #ffffff;
}

.display-block {
  display: block;
}

.margin-auto {
  margin: 0 auto;
}

.btn {
  padding: 8px 16px 6px 16px;
  border-radius: 40px;
  background-color: transparent;
}
.btn:hover {
  background-color: #FFF066;
}

.heartBtn,
.bellBtn,
.userBtn,
.outBtn {
  font-size: 1.5rem;
  padding: 8px 12px;
}
@media (max-width: 850px) {
  .heartBtn,
.bellBtn,
.userBtn,
.outBtn {
    font-size: 2.25rem;
  }
}

.heartBtn {
  color: #F095FF;
}

.bellBtn {
  color: #66C5D2;
}

.userBtn {
  color: #FFCD1A;
}
.userBtn:hover {
  color: #3C3C3C;
}

.login .userBtn {
  color: #EA9A00;
}
.login .userBtn:hover {
  color: #AE7D00;
}

.outBtn {
  color: #FFCD1A;
}
.outBtn:hover {
  color: #3C3C3C;
}

.funcBtn-hover .funcBtn-solid {
  display: none;
}
.funcBtn-hover:hover .funcBtn-outline {
  display: none;
}
.funcBtn-hover:hover .funcBtn-solid {
  display: inline-block;
}

.heartBtn.active .funcBtn-outline {
  display: none;
}
.heartBtn.active .funcBtn-solid {
  display: inline-block;
}

.funcBtn-active .funcBtn-outline {
  display: none;
}
.funcBtn-active:hover .funcBtn-solid {
  display: none;
}
.funcBtn-active:hover .funcBtn-outline {
  display: inline-block;
}

.imgBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgBtn:hover > img {
  border: 5px solid #FFF066;
  box-shadow: 4px 8px 0 0 transparent;
  margin-bottom: 18px;
  margin-left: -3px;
  margin-right: -3px;
}
.imgBtn:hover > span {
  background-color: #FFF066;
  font-weight: 700;
}
.imgBtn img {
  margin-bottom: 24px;
  border-radius: 50%;
  border: 2px solid #3C3C3C;
  box-shadow: 4px 8px 0 0 #FFF066;
  transition: all ease 0.2s;
  pointer-events: none;
}
.imgBtn span {
  padding: 8px 24px 6px 24px;
  border-radius: 40px;
  font-size: 1.25rem;
  transition: all ease 0.5s;
  pointer-events: none;
}

.userImg {
  margin-bottom: 24px;
  border-radius: 50%;
  border: 2px solid #3C3C3C;
  box-shadow: 4px 8px 0 0 #FFF066;
  pointer-events: none;
}

.btn-shadow {
  padding: 16px 40px;
  border: 2px solid #3C3C3C;
  border-radius: 40px;
  box-shadow: 4px 8px 0 0 #3C3C3C;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #FFF066;
  margin-right: 4px;
}
.btn-shadow:hover {
  box-shadow: 0px 0px 0 0 #3C3C3C;
  margin-left: 4px;
  margin-top: 8px;
  margin-bottom: -8px;
  margin-right: 0;
}

.btn-shadow.circle {
  position: relative;
  padding: 0;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
}
.btn-shadow.circle span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-weight: 500;
}

.filterBtnSection {
  position: relative;
  display: flex;
  align-items: center;
}

.filterBtn {
  padding: 14px;
  border-radius: 50%;
  border: 1px solid #3C3C3C;
  background-color: #FFF066;
}

.filterBtn.active,
.filterBtn:hover {
  background-color: #99E4EE;
}

.filterBtnList {
  max-height: 0px;
  position: absolute;
  top: 88px;
  right: 0;
  z-index: 10;
  width: 150px;
  padding: 0 12px;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 16px;
  background-color: #ffffff;
  transition: all ease 0.5s;
}
.filterBtnList .item {
  width: 100%;
  padding: 8px 0 6px 0;
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  border-radius: 40px;
  border: 1px solid #3C3C3C;
  background-color: #C3F8FF;
  color: #000000;
}
.filterBtnList .item.active,
.filterBtnList .item:hover {
  background-color: #FFF490;
}
.filterBtnList .switchBar {
  width: 100%;
}
.filterBtnList .filterBtn {
  padding: 14px 20px;
}

.filterBtnSection:hover .filterBtnList {
  max-height: 400px;
  padding: 12px;
  border: 1px solid #3C3C3C;
}

.filterSection {
  display: block;
  position: relative;
  text-align: right;
}
.filterSection .selector {
  width: 180px;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 40px;
  padding: 12px 24px 12px 24px;
  appearance: none;
}
.filterSection .selector:focus-visible {
  border-color: #66C5D2;
  outline: 1px solid #66C5D2;
}
.filterSection .fa-caret-down {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

.shopTag {
  font-size: 1.25rem;
  padding: 12px 6px 12px 8px;
  border: 1px solid #3C3C3C;
  border-radius: 40px;
  background-color: #ffffff;
}

.specialPoint-item {
  display: inline-block;
  font-size: 0.875rem;
  padding: 8px 16px 6px 16px;
  border-radius: 40px;
}

.specialPoint-recommend {
  background-color: #C3F8FF;
}

.specialPoint-period {
  background-color: #F7C7FF;
}

.specialPoint-noCaffeing {
  background-color: #FFF490;
}

.specialPoint-none {
  background-color: #F3F2F2;
}

.switchBar {
  position: static;
  z-index: 1;
  padding: 8px 12px;
  border-radius: 50px;
  background-color: #ffffff;
}

.switchBar-border {
  align-items: center;
  display: flex;
  border: 1px solid #3C3C3C;
  background-color: #FFF066;
}
.switchBar-border img {
  pointer-events: none;
}

.switchBar-text a {
  font-size: 1rem;
  padding: 20px 30px;
  border-radius: 50px;
}

.switchBar-text a:hover,
.switchBar .switch-active {
  background-color: #FFF066;
  font-weight: 700;
}

.switchBar-icon a {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.switchBar-border a:hover,
.switchBar-border .switch-active {
  background-color: #ffffff;
  border: 1px solid #3C3C3C;
}

.searchBar {
  position: relative;
  z-index: 1;
}
.searchBar .searchBar-input {
  width: 100%;
  height: 100%;
  padding: 0 32px;
  border-radius: 50px;
  border: 3px solid transparent;
  font-size: 1rem;
  transition: all ease 0.5s;
}
.searchBar .searchBar-input:focus, .searchBar .searchBar-input:hover {
  border: 3px solid #FFF066;
  transition: all ease 0.5s;
}
.searchBar .searchBar-input:focus + .searchBar-icon, .searchBar .searchBar-input:hover + .searchBar-icon {
  color: #FFCD1A;
}
.searchBar .searchBar-icon {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  transition: all ease 0.5s;
}

.searchBar-border .searchBar-input {
  border: 1px solid #3C3C3C;
}
.searchBar-border .searchBar-input:focus, .searchBar-border .searchBar-input:hover {
  border: 3px solid #FFCD1A;
}

.subtitle {
  position: relative;
  display: inline-block;
  padding: 8px 24px 6px 24px;
  border-radius: 40px;
  border: 2px solid #3C3C3C;
  background-color: #FFF066;
  font-size: 1.5rem;
  font-weight: 700;
}
.subtitle::after {
  content: url(https://raw.githubusercontent.com/minnnn7716/whatToDrink/2a8886cf4ab84fbe0667038f97cbd46456cd4a45/IMAGES/deco_manyAngleStar.svg);
  position: absolute;
  z-index: -1;
  bottom: -0.5em;
  left: -2em;
  transform: scale(0.95);
}

.subdiscrip {
  position: relative;
  margin-top: 16px;
  padding-left: 50px;
  font-size: 1.25rem;
}
.subdiscrip::before {
  content: "";
  position: absolute;
  left: 25px;
  width: 1px;
  height: 50%;
  border-left: 1px solid #3C3C3C;
}
.subdiscrip::after {
  content: "✦";
  position: absolute;
  left: 17px;
  bottom: 0;
}

.carouel-num {
  font-size: 1.5rem;
  font-weight: 700;
}

.carouel-dot {
  font-size: 0.875rem;
  color: #D1D1D1;
}
.carouel-dot i {
  transition: all ease 0.5s;
  padding: 2px;
}
.carouel-dot i:hover,
.carouel-dot .active {
  color: #F095FF;
}

.carouel-divider {
  height: 1px;
  border-bottom: 1px dashed #3C3C3C;
}

.carouel-arrow {
  display: flex;
}

.carouel-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #F095FF;
}
.carouel-arrow-btn:hover {
  background-color: #99E4EE;
}

.carouel-arrow-btn.disable {
  background-color: #F3F2F2;
  color: #BDBDBD;
  border: 1px solid #BDBDBD;
  cursor: auto;
}

.rateSection {
  display: flex;
  align-items: center;
}

.score {
  font-size: 2.25rem;
  font-weight: 900;
}

.starSection {
  display: flex;
  align-items: center;
}

.starBtn .starEmpty:hover {
  background-image: url(https://raw.githubusercontent.com/minnnn7716/whatToDrink/486dbbfedad3b447bcb87b3eeaf8b196251bf776/IMAGES/star_full.svg);
}

.star,
.starEmpty,
.starHalf {
  display: inline-block;
  width: 38px;
  height: 36px;
  margin-left: 4px;
  background-size: cover;
}

.star {
  background-image: url(https://raw.githubusercontent.com/minnnn7716/whatToDrink/486dbbfedad3b447bcb87b3eeaf8b196251bf776/IMAGES/star_full.svg);
}

.starHalf {
  background-image: url(https://raw.githubusercontent.com/minnnn7716/whatToDrink/a238da4ef3553d418529a60485c0d04f552d5f7a/IMAGES/star_half.svg);
}

.starEmpty {
  background-image: url(https://raw.githubusercontent.com/minnnn7716/whatToDrink/486dbbfedad3b447bcb87b3eeaf8b196251bf776/IMAGES/star_empty.svg);
}

.wholeRateSection {
  display: flex;
  align-items: center;
}
.wholeRateSection .scoreSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wholeRateSection .scoreSection .num {
  font-size: 6rem;
}
.wholeRateSection .scoreSection .star,
.wholeRateSection .scoreSection .starHalf,
.wholeRateSection .scoreSection .starEmpty {
  width: 22.5px;
  height: 22px;
}
.wholeRateSection .scoreSection .rateNum {
  font-family: "Noto Sans TC";
}
.wholeRateSection .eachStarSection .starComponent {
  display: flex;
  align-items: center;
}
.wholeRateSection .eachStarSection .starComponent div,
.wholeRateSection .eachStarSection .starComponent p {
  margin-right: 24px;
}
.wholeRateSection .eachStarSection .star,
.wholeRateSection .eachStarSection .starEmpty {
  width: 17.5px;
  height: 17px;
}
.wholeRateSection .eachStarSection .numBar {
  flex: 1 1 0;
  position: relative;
  height: 14px;
  box-sizing: content-box;
  border: 1px solid #000000;
  border-radius: 20px;
}
.wholeRateSection .eachStarSection .numBar-content {
  position: absolute;
  width: 60%;
  height: 16px;
  top: -1px;
  left: -1px;
  border: 1px solid #000000;
  border-radius: 20px;
  background-color: #FFF066;
}
.wholeRateSection .eachStarSection .numText {
  font-family: "Noto Sans TC";
}
.wholeRateSection .eachStarSection .pinIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: 1px solid #000000;
  border-radius: 50%;
  transform: rotate(40deg);
  transition: all ease 0.3s;
}
.wholeRateSection .eachStarSection .pinIcon:hover,
.wholeRateSection .eachStarSection .pinIcon.active {
  color: #92409F;
  border-color: #F7C7FF;
  background-color: #F7C7FF;
}

.userPhoto-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #000000;
  box-shadow: 4px 8px 0 #FFF066;
}

.message {
  position: relative;
  padding: 0 24px 16px 80px;
  font-family: "Noto Sans TC";
  border: 1px solid #000000;
  border-radius: 16px;
}

.message-header {
  margin-top: -12px;
}

.message-photo {
  position: absolute;
  top: -24px;
  left: -24px;
}

.message-title,
.message-rate {
  padding: 0 4px;
  background-color: #ffffff;
}

.message-name {
  font-size: 1.25rem;
}

.message-allNum {
  font-size: 0.875rem;
}

.message-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message-rate .star,
.message-rate .starHalf,
.message-rate .starEmpty {
  width: 19.5px;
  height: 19px;
}

.message-infor {
  font-size: 0.875rem;
  text-align: right;
  margin-bottom: 4px;
}

.message-date {
  display: inline-block;
  padding: 2px 12px;
  font-size: 0.875rem;
  border-radius: 20px;
  background-color: #FFF490;
}

.message-hasPhoto .photoGroup-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message-hasPhoto .photoGroup-text .title {
  font-size: 1.25rem;
}
.message-hasPhoto .photoGroup-text .star {
  width: 16.5px;
  height: 16px;
  margin-left: 0;
}
.message-hasPhoto .photoGroup-text .score {
  font-size: 1rem;
  font-weight: 500;
}
.message-hasPhoto .photoGroup-text .size {
  display: inline-block;
  width: 20%;
}

.message-content {
  display: flex;
}

.message-likeThis {
  position: relative;
  padding-right: 33px;
}
.message-likeThis:hover .fa-thumbs-up {
  color: #D271E2;
  border-color: #D271E2;
}
.message-likeThis:hover .likeThis-num {
  background-color: #F7C7FF;
}
.message-likeThis .fa-thumbs-up {
  position: relative;
  z-index: 2;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all ease 0.5s;
}
.message-likeThis .likeThis-num {
  position: absolute;
  top: 22px;
  left: 20px;
  transform: translateY(-50%);
  padding: 2px 8px 4px 28px;
  border-radius: 20px;
  background-color: #FFF490;
  transition: all ease 0.3s;
}

.message-divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #D1D1D1;
  margin: 32px 0 48px 0;
}

.product-img .imgSection {
  position: relative;
  max-height: 300px;
  margin-bottom: 12px;
  padding: 12px 0 0 12px;
  overflow: hidden;
}
.product-img .shopName {
  position: absolute;
  top: 12px;
  left: 0;
  padding: 10px 24px 8px 24px;
  border: 1px solid #000000;
  border-radius: 40px;
  font-size: 1.25rem;
  background-color: #ffffff;
}
.product-img .heartBtn {
  position: absolute;
  right: 8px;
  top: 40px;
}
.product-img .textSection {
  display: block;
  padding-left: 12px;
  color: #000000;
}
.product-img .textSection h6 {
  font-size: 1.5rem;
  font-weight: 700;
}
.product-img .textSection .firstRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;
}
.product-img .textSection .rateSection {
  padding-top: 4px;
}
.product-img .textSection .score {
  margin-right: 4px;
  font-size: 1.25rem;
  font-weight: 900;
}
.product-img .textSection .starSection {
  padding-bottom: 4px;
}
.product-img .textSection .star,
.product-img .textSection .starEmpty,
.product-img .textSection .starHalf {
  width: 20px;
  height: 19.5px;
}
.product-img .textSection .secondRow {
  display: flex;
  justify-content: space-between;
}
.product-img .textSection .priceInfor {
  font-size: 1.25rem;
}

.product-table .hide {
  visibility: hidden;
}
.product-table thead th {
  padding: 16px 0 14px 0;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #FFF066;
}
.product-table thead th:first-child {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.product-table thead th:last-child {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.product-table .reteColumn {
  width: 140px;
}
.product-table .caffeineColumn {
  width: 100px;
}
.product-table .facoriteColumn {
  width: 60px;
}
.product-table .itemSection td {
  display: table-cell;
  text-align: center;
  font-family: "Noto Sans TC";
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #3C3C3C;
}
.product-table .itemSection td:first-child {
  padding-left: 16px;
  text-align: left;
}
.product-table .itemSection td:last-child {
  padding-right: 30px;
}
.product-table .table-name a {
  padding: 16px;
  font-weight: 500;
  color: #1ba1b3;
}
.product-table .table-shop a {
  padding: 16px;
  font-weight: 500;
  color: #D271E2;
}
.product-table .score {
  margin-right: 4px;
  font-size: 1rem;
  font-weight: 500;
}
.product-table .star,
.product-table .starEmpty,
.product-table .starHalf {
  width: 17.5px;
  height: 17px;
}
.product-table .table-special i:first-child {
  margin-right: 8px;
}
.product-table .fa-snowflake {
  font-size: 1.25rem;
  color: #66C5D2;
}
.product-table .fa-thumbs-up {
  font-size: 1.25rem;
  color: #F095FF;
}
.product-table .fa-noCaffeing {
  width: 20px;
  display: inline-block;
}

.popup {
  position: fixed;
  height: 80vh;
  width: 70%;
  top: 50%;
  left: 50%;
  padding: 16px 26px 0 16px;
  border-radius: 16px;
  transform: translate(-50%, -45%);
  background-color: #ffffff;
}
.popup .shopTag.sideTitle {
  position: absolute;
  top: 32px;
  left: -24px;
  padding: 20px 12px 20px 8px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 4px;
  writing-mode: vertical-lr;
  background-color: #ffffff;
}

.popup.scroll::after {
  content: "";
  position: absolute;
  right: 26px;
  height: calc(100% - 86px);
  top: 64px;
  width: 12px;
  border-radius: 10px;
  background-color: #EFFDFF;
  border: 1px solid #99E4EE;
}

.popupBG {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4392156863);
}

.popScroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.popScroll::-webkit-scrollbar {
  display: block;
  width: 12px;
}
.popScroll::-webkit-scrollbar-track {
  background: transparent;
}
.popScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #99E4EE;
  border: 1px solid #7C7C7C;
}
.popScroll::-webkit-scrollbar-track-piece:end {
  margin-bottom: 8px;
}
.popScroll::-webkit-scrollbar-track-piece:start {
  margin-top: 48px;
}

.popup-close {
  z-index: 5;
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 2rem;
  color: #F095FF;
}
.popup-close:hover {
  color: #FFCD1A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Oleo Script", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  color: #3C3C3C;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #3C3C3C;
  transition: all ease 0.3s;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}
@media (max-width: 1330px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 850px) {
  .container {
    max-width: 680px;
  }
}

.full-container {
  width: 100%;
}

.vh-100 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button,
a,
input,
select,
textarea {
  cursor: pointer;
}

.pushSpace {
  padding-top: 60px;
}

.logo,
.logo-outline {
  position: relative;
  display: inline-block;
  padding: 44px 24px 16px 24px;
  background-color: #FFF066;
  transition: all ease 0.5s;
}
.logo::before,
.logo-outline::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  width: 100%;
  background-color: #3C3C3C;
  transition: all ease 0.5s;
}

.logo {
  border: 1px solid transparent;
}
.logo::before {
  left: 0px;
  height: 100%;
}

.logo-outline,
.logo:hover {
  border: 1px solid #3C3C3C;
}
.logo-outline::before,
.logo:hover::before {
  top: -2px;
  left: 4px;
  height: calc(100% + 6px);
}

.logo-outline:hover:before {
  left: 0px;
  height: 100%;
}

.logo-text {
  font-size: 1.75vw;
  font-weight: 700;
}
@media (max-width: 850px) {
  .logo-text {
    font-size: 4vw;
  }
}

.navbar,
.navbar-link,
.navbar-funcBtn {
  display: flex;
  align-items: center;
}

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  justify-content: flex-end;
  padding: 4px 48px 4px 0;
}
.navbar .logo,
.navbar .logo-outline {
  position: absolute;
  top: -1px;
  left: 48px;
}

.navbar-link li {
  padding: 0 16px;
}

.navbar-hide .navbar-link {
  display: none;
}
.navbar-hide .logSection span {
  font-family: "Noto Sans TC";
  padding: 0 0 4px 16px;
  color: #EA9A00;
  font-weight: 500;
  text-shadow: -1px -1px 0 #3C3C3C, 0 -1px 0 #3C3C3C, 1px -1px 0 #3C3C3C, 1px 0 0 #3C3C3C, 1px 1px 0 #3C3C3C, 0 1px 0 #3C3C3C, -1px 1px 0 #3C3C3C, -1px 0 0 #3C3C3C;
}

.navbar-show {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0823529412);
  background-color: #ffffff;
  border-bottom: 1px solid #3C3C3C;
}
.navbar-show .navbar-link {
  display: flex;
}
.navbar-show .logSection span {
  font-family: "Noto Sans TC";
  padding: 0 0 4px 16px;
  color: #EA9A00;
  font-weight: 500;
}
.navbar-show .outBtn {
  display: flex;
  align-items: center;
  color: #3C3C3C;
}
.navbar-show .outBtn:hover {
  color: #AE7D00;
}

#footer {
  position: relative;
  width: 100%;
  margin-top: 20px;
  background-color: #FFF066;
}
#footer::after, #footer::before {
  content: "";
  position: absolute;
  width: 100%;
}
#footer::after {
  top: -12px;
  height: 12px;
  background-color: #F095FF;
}
#footer::before {
  top: -20px;
  height: 8px;
  background-color: #99E4EE;
}

.footer-container {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0;
}

.footer-container.nonInfor {
  padding: 8px 0;
}

.footer-infor,
.footer-list {
  font-size: 0.875rem;
}

.footer-infor {
  width: 30%;
  text-align: right;
  font-weight: 300;
}

.footer-list {
  width: 30%;
  writing-mode: vertical-lr;
  letter-spacing: 4px;
}
.footer-list a {
  padding: 0 4px;
}
.footer-list a:hover {
  color: #92409F;
  font-weight: 700;
}

.topBtn {
  position: absolute;
  top: -48px;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  font-size: 1.25rem;
  background-color: #3C3C3C;
  color: #ffffff;
}
.topBtn:hover {
  top: -54px;
}

.index-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url(https://raw.githubusercontent.com/minnnn7716/whatToDrink/main/IMAGES/indexBanner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
@media (max-width: 850px) {
  .index-header {
    background-image: url(../../IMAGES/indexBanner_mobile.webp);
  }
}

.index-title {
  position: relative;
  z-index: 1;
  letter-spacing: 1.5;
}

.index-title .title-text {
  position: relative;
  z-index: 5;
  font-size: 2.25rem;
  font-weight: 700;
  color: #F095FF;
  margin-left: 0.4em;
}
.index-title .title-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -0.2em;
  left: -0.3em;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 0 6px #F095FF;
}

.index-title-inside {
  position: absolute;
  top: 0;
  left: 0;
}
.index-title-inside .title-text.bg::after {
  box-shadow: 0 0 0 1px #ffffff;
}

.subtitleSection {
  font-size: 1.25rem;
  font-weight: 700;
}
.subtitleSection h3 {
  padding: 8px 24px;
  border-radius: 30px;
  border: 2px solid #3C3C3C;
}
.subtitleSection h3:first-child {
  background-color: #FFF066;
}
.subtitleSection h3:last-child {
  background-color: #99E4EE;
  margin-left: -0.5em;
}

#index .searchSection {
  width: 600px;
}
@media (max-width: 850px) {
  #index .searchSection {
    width: 80%;
  }
}

.header-deco-right {
  width: 25%;
  top: 0;
  right: 10%;
}
@media (max-width: 850px) {
  .header-deco-right {
    width: 60%;
    right: -35%;
  }
}

.header-deco-left {
  width: 35%;
  bottom: 10%;
  left: 0;
}
@media (max-width: 850px) {
  .header-deco-left {
    width: 60%;
    bottom: -10%;
    left: -30%;
  }
}

.inedx-wheel {
  padding: 160px 0;
  overflow: hidden;
}

.inedx-wheel-block {
  position: relative;
  width: 100%;
  background-color: #6D6FC9;
  text-align: center;
}

.inedx-wheel-text {
  position: relative;
  z-index: 5;
}
.inedx-wheel-text h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.inedx-wheel-text p {
  font-size: 1.25rem;
  color: #ffffff;
}

.inedx-wheel-img {
  position: absolute;
}

.inedx-wheel-pc-person {
  z-index: 3;
  bottom: -24px;
  width: 32vw;
}

.inedx-wheel-pc-drink {
  z-index: 2;
  right: 12vw;
  bottom: -32px;
  width: 53vw;
}

.inedx-wheel-pc-wheel {
  z-index: 1;
  right: -6vw;
  top: -72px;
  width: 25vw;
}

#inedx-shops-anchor {
  height: 200px;
  margin-top: -200px;
}

.recommend-titleSection {
  position: absolute;
  top: -0.5em;
  left: -1em;
  display: flex;
  writing-mode: vertical-lr;
  letter-spacing: 0.5em;
}

.recommend-title {
  position: relative;
  margin-bottom: 4px;
  padding-right: 4px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5em;
  text-shadow: -2px -2px 0 #ffffff, 0 -2px 0 #ffffff, 2px -2px 0 #ffffff, 2px 0 0 #ffffff, 2px 2px 0 #ffffff, 0 2px 0 #ffffff, -2px 2px 0 #ffffff, -2px 0 0 #ffffff;
}

.recommend-inforSection {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.recommend-img {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position-y: center;
}

.inedx-recommend-textSection {
  position: relative;
  overflow-y: scroll;
}
.inedx-recommend-textSection .messageGroup {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 16px;
}

.inedx-recommend-textSection::-webkit-scrollbar-track {
  padding: 1px 0;
  background-color: #EFFDFF;
  border: 1px solid #99E4EE;
  border-radius: 10px;
}

.inedx-recommend-textSection::-webkit-scrollbar {
  width: 10px;
}

.inedx-recommend-textSection::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #99E4EE;
  border: 1px solid #7C7C7C;
}

.searchResult-text {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Noto Sans TC";
}

.searchResult-filter {
  display: inline-block;
  padding: 8px 24px 6px 24px;
  border-radius: 40px;
  border: 1px solid #000000;
  font-size: 1rem;
  font-weight: 500;
  background-color: #99E4EE;
  opacity: 0;
  transition: all ease 0.5s;
}

.searchResult-filter-close i {
  padding: 4px 7px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all ease 0.5s;
}
.searchResult-filter-close i:hover {
  border: 2px solid #ffffff;
  background-color: #F095FF;
  color: #ffffff;
}

.shopsList {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.shopsList-item {
  width: 20%;
  transform: skew(-5deg, 0deg);
}

.shopsList-item-link {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  transition: all ease 0.5s;
}

.shopsList-infor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
  pointer-events: none;
}
.shopsList-infor img {
  width: 60%;
  transform: skew(5deg, 0deg);
  opacity: 1;
  transition: all ease 0.5s;
}

.shopsList-extendImg {
  width: 0;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  transition: all ease 0.5s;
}
.shopsList-extendImg img {
  width: 0;
}

.shopsList-name-dark,
.shopsList-name-light {
  transform: skew(5deg, 0deg);
  width: 45%;
  padding: 8px 0;
  margin-top: 5%;
  margin-left: 10%;
  border: 1px solid;
  border-radius: 40px;
  text-align: center;
  font-weight: 500;
}

.shopsList-name-dark {
  border-color: #3C3C3C;
  color: #3C3C3C;
}

.shopsList-name-light {
  border-color: #ffffff;
  color: #ffffff;
}

.shopsList-kebuke {
  position: relative;
  background-color: #003C4F;
}
.shopsList-kebuke::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: skew(5deg, 0deg);
  background-color: #003C4F;
}

.shopsList-50 {
  background-color: #F5E702;
}

.shopsList-tptea {
  background-color: #F2EBE2;
}

.shopsList-chingshin {
  background-color: #005743;
}

.shopsList-john {
  position: relative;
  background-color: #183263;
}
.shopsList-john::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 115%;
  height: 100%;
  background-color: #183263;
}

.shopsList-item.hover {
  width: 68%;
  transform: skew(0deg, 0deg);
}
.shopsList-item.hover .shopsList-infor {
  width: 35%;
}
.shopsList-item.hover .shopsList-infor img {
  transform: skew(0deg, 0deg);
}
.shopsList-item.hover .shopsList-extendImg {
  width: 65%;
}
.shopsList-item.hover .shopsList-extendImg img {
  width: auto;
}

.shopsList-item.nonHover {
  width: 8%;
  transform: skew(0deg, 0deg);
}
.shopsList-item.nonHover .shopsList-infor {
  transform: skew(0deg, 0deg);
  width: 100%;
}
.shopsList-item.nonHover img {
  opacity: 0;
}
.shopsList-item.nonHover p {
  width: 120%;
  transform: rotate(90deg);
}

.shops-menu-banner img {
  height: 13vw;
  width: auto;
  margin: 0 auto;
}

.menu-title {
  margin-top: -20px;
}
.menu-title .menu-title-text {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: -2px -2px 0 #ffffff, 0 -2px 0 #ffffff, 2px -2px 0 #ffffff, 2px 0 0 #ffffff, 2px 2px 0 #ffffff, 0 2px 0 #ffffff, -2px 2px 0 #ffffff, -2px 0 0 #ffffff;
}
.menu-title .score {
  text-shadow: -2px -2px 0 #ffffff, 0 -2px 0 #ffffff, 2px -2px 0 #ffffff, 2px 0 0 #ffffff, 2px 2px 0 #ffffff, 0 2px 0 #ffffff, -2px 2px 0 #ffffff, -2px 0 0 #ffffff;
}
.menu-title .rate-num {
  font-family: "Noto Sans TC";
  text-align: right;
}

.muen-outConetent {
  padding-right: 62px;
}

.muen-conetent {
  position: relative;
  min-height: 550px;
  padding-top: 64px;
  border-radius: 24px;
  border: 3px solid #66C5D2;
}

.menu-content-filter {
  position: absolute;
  right: -53px;
  top: 24px;
  display: flex;
  flex-direction: column;
}

.menu-content-filterBtn {
  writing-mode: vertical-lr;
  letter-spacing: 0.3em;
  padding: 16px 12px 14px 11px;
  border: 1px solid #3C3C3C;
  border-left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #F3F2F2;
  transition: all ease 0.1s;
}
.menu-content-filterBtn:hover {
  font-weight: 700;
  transition: all ease 0.1s;
}

.menu-content-filterBtn.active {
  position: relative;
  border: 3px solid #66C5D2;
  border-left: 0;
  font-weight: 700;
  color: #66C5D2;
  background-color: #ffffff;
  padding: 13px 12px 11px 11px;
}
.menu-content-filterBtn.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 3px;
  height: 100%;
  background-color: #ffffff;
}

.menu-kind-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.menu-kind:nth-child(odd) {
  padding-right: 32px;
}

.menu-kind:nth-child(even) {
  padding-left: 32px;
}

.menu-kind {
  margin-bottom: 72px;
}
.menu-kind td {
  text-align: center;
  border-bottom: 1px solid #BDBDBD;
}
.menu-kind .menu-kind-name {
  text-align: left;
}
.menu-kind .menu-kind-link {
  padding: 16px 8px;
}
.menu-kind .menu-kind-link:hover {
  color: #AE7D00;
}
.menu-kind .menu-kind-price {
  text-align: right;
  padding-right: 8px;
}
.menu-kind .score {
  font-size: 1rem;
  font-weight: 400;
}
.menu-kind .rateSection {
  width: 100%;
  justify-content: center;
}
.menu-kind .star {
  width: 18px;
  height: 18px;
}

.menu-kind-rate {
  width: 50px;
}

.menu-kind-special i {
  font-size: 1.25rem;
  padding-right: 4px;
}
.menu-kind-special .fa-snowflake {
  color: #66C5D2;
}
.menu-kind-special .fa-thumbs-up {
  color: #F095FF;
}
.menu-kind-special .fa-noCaffeing {
  width: 20px;
}

.menu-kind-favorite {
  width: 50px;
}

#shops-menu .popupBG {
  display: none;
}

.drink-infor-imgOuter {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 100%;
}
.drink-infor-imgOuter img {
  position: absolute;
  width: 100%;
  right: 50%;
  transform: translateX(50%);
}

.drink-infor-title {
  font-family: "Noto Sans TC";
}
.drink-infor-title .shopTag {
  display: inline-block;
  font-size: 1rem;
  padding: 8px 24px 6px 24px;
}
.drink-infor-title .drinkName {
  font-size: 2rem;
}
.drink-infor-title .size {
  font-size: 1.25rem;
  font-weight: 500;
}
.drink-infor-title .capacity {
  font-size: 0.875rem;
  font-weight: 400;
  color: #7C7C7C;
}
.drink-infor-title .priceInfor-divider {
  width: 1px;
  margin: 4px 32px;
  background-color: #000000;
}

.drink-infor-text {
  padding-left: 24px;
}

.drink-infor-func {
  text-align: right;
}
.drink-infor-func .star,
.drink-infor-func .starHalf,
.drink-infor-func .starEmpty {
  width: 31px;
  height: 30px;
}
.drink-infor-func .score {
  font-size: 2rem;
}
.drink-infor-func .heartBtn {
  padding-right: 0;
}

#drink .popup {
  height: auto;
  padding: 80px 0;
}

#drink .popupBG {
  display: none;
}

.drinkCommentRate {
  display: flex;
}
.drinkCommentRate p {
  font-size: 1.5rem;
  font-weight: 500;
}
.drinkCommentRate .starEmpty,
.drinkCommentRate .star,
.drinkCommentRate .starHalf {
  width: 30px;
  height: 29.5px;
}

.drinkCommentText {
  width: 100%;
  min-height: 200px;
  padding: 16px;
  border: 1px solid #3C3C3C;
  border-radius: 16px;
  font-size: 1rem;
}

.drinkCommentImgOuter {
  height: 300px;
  overflow: hidden;
}

.drinkCommentBtn {
  text-align: right;
}
.drinkCommentBtn .btn-shadow {
  font-size: 1rem;
  padding: 12px 32px;
}
.drinkCommentBtn .send:hover {
  margin-left: 0;
  margin-right: 0;
}
.drinkCommentBtn .cancle {
  background-color: #ffffff;
  margin-right: 16px;
}
.drinkCommentBtn .cancle:hover {
  margin-right: 8px;
}

#wheel .subtitle,
#wheel-choice .subtitle {
  background-color: #3C3C3C;
  color: #ffffff;
  font-weight: 500;
}

#wheel .wheelBtnImg img {
  transition: all ease 0.5s;
}
#wheel .wheelBtnImg img:hover {
  filter: saturate(150%);
}

#wheel .wheelBtnImg img:hover::before {
  top: 8px;
  left: 8px;
}

#wheel-choice .btn-shadow {
  padding: 12px 40px;
}

.wheelForm-select {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.wheelForm-select label {
  padding-right: 16px;
}
.wheelForm-select .selector {
  width: 100%;
  padding: 16px 24px;
}
.wheelForm-select .fa-caret-down {
  right: 24px;
}

.wheelForm-buttonGroup {
  text-align: right;
}
.wheelForm-buttonGroup .default {
  margin-right: 16px;
}
.wheelForm-buttonGroup .default:hover {
  margin-left: 0;
  margin-right: -16px;
}
.wheelForm-buttonGroup .submit {
  background-color: #EB8A7D;
}

#wheel-result {
  background: linear-gradient(160deg, #FFFEF1 2%, #FFFEF1 42%, #EFFDFF 42%, #EFFDFF 2%);
}
#wheel-result .row {
  height: 100vh;
}

.wheelResult-content {
  position: relative;
}

.wheelResult-buttonGroup {
  position: absolute;
  bottom: 0;
  right: -112px;
  display: flex;
  flex-direction: column;
}
.wheelResult-buttonGroup .default {
  margin-right: 0;
  margin-bottom: 24px;
}
.wheelResult-buttonGroup .default:hover {
  margin-right: 0;
  margin-bottom: 16px;
}
.wheelResult-buttonGroup .submit {
  background-color: #EB8A7D;
}

#favorite .muen-conetent {
  padding-bottom: 64px;
}

.favoriteTitle {
  font-size: 2rem;
  font-weight: 700;
  color: #F095FF;
}
.favoriteTitle h2 {
  padding-top: 4px;
}

.noDrink {
  font-size: 1.5rem;
  font-weight: 600;
}

.userInfor {
  font-family: "Noto Sans TC";
  padding: 72px;
  border: 4px solid #66C5D2;
  background-color: #F3F2F2;
  text-align: center;
  border-radius: 16px;
}
.userInfor .imgContainer {
  padding: 0 24px 24px 24px;
}
.userInfor h4 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 8px;
}
.userInfor p {
  font-family: "Noto Sans TC";
  font-size: 1.25rem;
  padding-bottom: 16px;
}
.userInfor a {
  display: block;
  font-size: 1.25rem;
  padding: 8px 0;
  border: 1px solid #3C3C3C;
  border-radius: 12px;
  background-color: #FFF066;
}
.userInfor a:hover {
  background-color: #FFCD1A;
}

.userInforContaoner {
  padding-right: 24px;
}

.funcList img {
  width: 45px;
  margin-bottom: 12px;
  pointer-events: none;
}
.funcList a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid;
  border-radius: 16px;
}
.funcList p {
  font-size: 1.5rem;
  font-weight: 500;
  pointer-events: none;
}
.funcList .row {
  height: 100%;
}
.funcList .funcList-favorite {
  border-color: #F095FF;
}
.funcList .funcList-favorite:hover {
  background-color: #FEFAFF;
}
.funcList .funcList-wheel {
  border-color: #7C7C7C;
}
.funcList .funcList-wheel:hover {
  background-color: #F9F9F9;
}
.funcList .funcList-comment {
  border-color: #FFCD1A;
}
.funcList .funcList-comment:hover {
  background-color: #FFFEF6;
}
.funcList .funcList-message {
  border-color: #66C5D2;
}
.funcList .funcList-message:hover {
  background-color: #F8FEFF;
}

#user .popup,
#user-list .popup {
  height: auto;
  width: 600px;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

#user .popupBG,
#user-list .popupBG {
  display: none;
}

#user-list .popup {
  width: 800px;
}

.changePwsForm {
  width: 70%;
}
.changePwsForm h3 {
  font-size: 2rem;
  margin-bottom: 16px;
  color: #D271E2;
  font-weight: 500;
}
.changePwsForm .illustrate {
  margin-bottom: 32px;
  color: #92409F;
}
.changePwsForm .cancel {
  background-color: #ffffff;
  margin-right: 16px;
}

.userList-titleSection {
  display: flex;
  font-family: "Noto Sans TC";
  font-size: 2rem;
  font-weight: 600;
}
.userList-titleSection .img {
  width: 45px;
  height: 45px;
  margin-right: 8px;
  background-size: cover;
}
.userList-titleSection .divider {
  flex: 1 1 0;
  border-bottom: 1px dashed;
  margin: 0 16px;
}

.userList-titleSection.comments {
  color: #AE7D00;
}
.userList-titleSection.comments .img {
  background-image: url(../../IMAGES/user_comment.svg);
  filter: invert(46%) sepia(96%) saturate(2336%) hue-rotate(26deg) brightness(94%) contrast(101%);
}
.userList-titleSection.comments .divider {
  flex: 1 1 0;
  border-color: #AE7D00;
}

.userList-titleSection.wheels {
  color: #7C7C7C;
}
.userList-titleSection.wheels .img {
  background-image: url(../../IMAGES/user_wheel.svg);
}
.userList-titleSection.wheels .divider {
  flex: 1 1 0;
  border-color: #7C7C7C;
}

.userList-titleSection.favorites {
  color: #F095FF;
}
.userList-titleSection.favorites .img {
  background-image: url(../../IMAGES/user_favorite.svg);
}
.userList-titleSection.favorites .divider {
  flex: 1 1 0;
  border-color: #F095FF;
}

.userList-titleSection.list-message {
  color: #66C5D2;
}
.userList-titleSection.list-message .img {
  background-image: url(../../IMAGES/user_message.svg);
}
.userList-titleSection.list-message .divider {
  flex: 1 1 0;
  border-color: #66C5D2;
}

.contentSection {
  min-height: 200px;
  border: 3px solid #66C5D2;
  border-radius: 24px;
}

.eachMessage-img {
  max-height: 260px;
  overflow: hidden;
}

.eachMessage-haeder h5 {
  font-size: 1.5rem;
  font-weight: 500;
}
.eachMessage-haeder p {
  font-family: "Noto Sans TC";
}
.eachMessage-haeder i {
  font-size: 1.5rem;
  transition: all ease 0.3s;
}
.eachMessage-haeder i:hover {
  color: #D271E2;
}

.addList {
  font-size: 1.25rem;
  font-weight: 400;
  border: 1px solid #7C7C7C;
  padding: 8px 24px;
  border-radius: 8px;
  color: #7C7C7C;
}
.addList:hover {
  color: #000000;
  background-color: #F3F2F2;
  border-color: #000000;
}

.eachWheelList h6 {
  font-size: 1.5rem;
  font-weight: 500;
}
.eachWheelList i {
  font-size: 1.5rem;
  transition: all ease 0.3s;
}
.eachWheelList i:hover {
  color: #F095FF;
}
.eachWheelList .col-6 {
  padding: 0 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.eachWheelList .col-6 p {
  margin-right: 24px;
}

.editWheelList {
  padding: 40px 0;
  width: 70%;
}
.editWheelList h3 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #D271E2;
  font-weight: 500;
}
.editWheelList .cancel {
  background-color: #ffffff;
  margin-right: 16px;
}

.deleteWheelList {
  padding: 40px 0;
  width: 70%;
}
.deleteWheelList h3 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #D271E2;
  font-weight: 500;
}
.deleteWheelList .cancel {
  background-color: #ffffff;
  margin-right: 16px;
}
.deleteWheelList p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 72px;
}

.logForm {
  padding: 40px 56px;
  background-color: #F9F9F9;
  border: 3px solid;
  border-radius: 16px;
}

.log-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
}

.primary .logForm {
  border-color: #FFCD1A;
}
.primary .log-submit {
  background-color: #FFCD1A;
}

.secondary .logForm {
  border-color: #66C5D2;
}
.secondary .log-submit {
  background-color: #66C5D2;
  color: #ffffff;
}

.accent .logForm {
  border-color: #D271E2;
}
.accent .log-submit {
  background-color: #D271E2;
  color: #ffffff;
}

.log-item {
  position: relative;
  margin-bottom: 12px;
}
.log-item label {
  margin-right: 8px;
  position: absolute;
  z-index: 1;
  top: 14.5px;
  left: 12px;
  color: #7C7C7C;
}
.log-item input {
  width: 100%;
  padding: 16px 16px 16px 56px;
  margin-bottom: 8px;
  font-size: 1rem;
  border: 1px solid #7C7C7C;
  border-radius: 12px;
}
.log-item input::placeholder {
  color: #c5c5c5;
}

.log-item-password input {
  padding-right: 48px;
}

.eyeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.eyeIcon .display-none {
  display: none;
}
.eyeIcon .fa-eye {
  padding: 8px;
  padding-right: 9px;
}
.eyeIcon .fa-eye-slash {
  padding: 8px;
}

.alertText {
  color: #D271E2;
  visibility: hidden;
}

.log-submit {
  font-size: 17px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 32px;
}
.log-submit:hover {
  filter: contrast(1.1);
  transition: all ease 0.5s;
}

.log-submit.back {
  text-align: center;
  margin-bottom: 0;
}

.linkSection {
  text-align: center;
}
.linkSection a:hover {
  font-weight: 500;
  color: #66C5D2;
}
.linkSection .log-submit {
  margin-bottom: 0;
  margin-left: 8px;
}

.progressBar {
  display: flex;
  font-family: "Noto Sans TC";
  margin-bottom: 32px;
  justify-content: space-between;
}
.progressBar p {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #BDBDBD;
  border-radius: 50%;
  color: white;
}
.progressBar p.active {
  background-color: #D271E2;
}
.progressBar span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.progressBar .step::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  width: 100%;
  background-color: #BDBDBD;
}

.progressBar .line-active::after {
  background-color: #D271E2;
}

.illustrate {
  margin-bottom: 32px;
  text-align: center;
  color: #92409F;
  font-family: "Noto Sans TC";
}/*# sourceMappingURL=all.css.map */