*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: $engFont, $chiFont, sans-serif;
    line-height: 1.5;
    color: $gray_900;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $gray_900;
    transition: all ease .5s;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding-right: $gutterWidth / 2;
    padding-left: $gutterWidth / 2;
}

.full-container {
    width: 100%;
}

button,
a,
input,
select,
textarea {
    cursor: pointer;
}

// 將 navbar 遮蓋的內容推出
.pushSpace {
    padding-top: 60px;
}