.searchBar {
    position: relative;
    z-index: 1;
    .searchBar-input {
        width: 600px;
        height: 100%;
        padding: 0 32px;
        border-radius: 50px;
        border: 3px solid transparent;
        font-size: $body1;
        transition: all ease .5s;

        &:focus, &:hover {
            border: 3px solid $primary;
            transition: all ease .5s;
        }

        &:focus + .searchBar-icon,
        &:hover + .searchBar-icon{
            color: $primary_600;
        }
    }

    .searchBar-icon{
        position: absolute;
        top: 50%;
        right: 1.5em;
        transform: translateY(-50%);
        font-size: $h4;
        transition: all ease .5s;
    }
}