.index-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url(https://raw.githubusercontent.com/minnnn7716/whatToDrink/main/IMAGES/indexBanner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

// 標題
.index-title {
    position: relative;
    z-index: 1;
    letter-spacing: 1.5;
}

.index-title .title-text {
    position: relative;
    z-index: 5;
    font-size: $h2;
    font-weight: 700;
    color: $accent;
    margin-left: .4em;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: -.2em;
        left: -.3em;
        width: 1.7em;
        height: 1.7em;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0 0 0 6px $accent;
    }
}

.index-title-inside {
    position: absolute;
    top: 0;
    left: 0;

    .title-text.bg::after {
        box-shadow: 0 0 0 1px $white;
    }
}

// 副標題
.subtitleSection {
    font-size: $h5;
    font-weight: 700;

    h3 {
        padding: 8px 24px;
        border-radius: 30px;
        border: 2px solid $gray_900;
    }

    h3:first-child {
        background-color: $primary;
    }

    h3:last-child {
        background-color: $secondary;
        margin-left: -.5em;
    }
}

// header 裝飾圖樣位置
.header-deco-right {
    width: 25%;
    top: 0;
    right: 10%;
}

.header-deco-left {
    width: 35%;
    bottom: 10%;
    left: 0;
}

// 
.inedx-wheel {
    position: relative;
    width: 100%;
    background-color: #6D6FC9;
    text-align: center;
}

.inedx-wheel-text {
    h3 {
        font-size: $h3;
        font-weight: 700;
        color: $white;
    }

    p {
        font-size: $h5;
        color: $white;
    }
}

.inedx-wheel-img {
    position: absolute;
}

.inedx-wheel-pc-person {
    z-index: 3;
    bottom: -24px;
    width: 32vw;
}

.inedx-wheel-pc-drink {
    z-index: 2;
    right: 12vw;
    bottom: -32px;
    width: 53vw;
}

.inedx-wheel-pc-wheel {
    z-index: 1;
    right: -6vw;
    top: -72px;
    width: 25vw;
}