// page | shop-all ------------------------
.shopsList {
    display: flex;
    height: 100vh;
    overflow: hidden;

}

.shopsList-item {
    width: 20%;
    transform: skew(-5deg, 0deg);
}

.shopsList-item-link {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    transition: all ease .5s;
}

.shopsList-infor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease .5s;
    pointer-events: none;

    img {
        width: 60%;
        transform: skew(5deg, 0deg);
        opacity: 1;
        transition: all ease .5s;
    }
}

.shopsList-extendImg {
    width: 0;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    transition: all ease .5s;

    img {
        width: 0;
    }
}

.shopsList-name-dark,
.shopsList-name-light {
    transform: skew(5deg, 0deg);
    width: 45%;
    padding: 8px 0;
    margin-top: 5%;
    margin-left: 10%;
    border: 1px solid;
    border-radius: 40px;
    text-align: center;
    font-weight: 500;
}

.shopsList-name-dark {
    border-color: $gray_900;
    color: $gray_900;
}

.shopsList-name-light {
    border-color: $white;
    color: $white;
}

.shopsList-kebuke {
    position: relative;
    background-color: #003C4F;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transform: skew(5deg, 0deg);
        background-color: #003C4F;
    }
}

.shopsList-50 {
    background-color: #F5E702;
}

.shopsList-tptea {
    background-color: #F2EBE2;
}

.shopsList-chingshin {
    background-color: #005743;
}

.shopsList-john {
    position: relative;
    background-color: #183263;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 115%;
        height: 100%;
        background-color: #183263;
    }
}

// hover 效果
.shopsList-item.hover {
    width: 68%;
    transform: skew(0deg, 0deg);

    .shopsList-infor {
        width: 35%;

        img {
            transform: skew(0deg, 0deg);
        }
    }

    .shopsList-extendImg {
        width: 65%;

        img {
            width: auto;
        }
    }
}

.shopsList-item.nonHover {
    width: 8%;
    transform: skew(0deg, 0deg);

    .shopsList-infor {
        transform: skew(0deg, 0deg);
        width: 100%;
        // padding-top: 250%;
    }

    img {
        opacity: 0;
    }

    p {
        width: 120%;
        transform: rotate(90deg);
    }
}

// page | shops-menu ------------------------
.shops-menu-banner {
    // background-color: #005743;

    img {
        height: 13vw;
        width: auto;
        margin: 0 auto;
    }
}

.menu-title {
    margin-top: -20px;

    .menu-title-text {
        font-size: $h2;
        font-weight: 700;
        @include stroke($white, 2px);
    }

    .score {
        @include stroke($white, 2px);
    }

    .rate-num {
        font-family: $chiFont;
        text-align: right;
    }
}

.muen-outConetent {
    padding-right: 62px;
}

.muen-conetent {
    position: relative;
    min-height: 550px;
    padding-top: 64px;
    border-radius: 24px;
    border: 3px solid $secondary_600;
}

.menu-content-filter {
    position: absolute;
    right: -53px;
    top: 24px;
    display: flex;
    flex-direction: column;
}

.menu-content-filterBtn {
    writing-mode: vertical-lr;
    letter-spacing: .3em;
    padding: 16px 12px 14px 11px;
    border: 1px solid $gray_900;
    border-left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $gray_300;
    transition: all ease .1s;

    &:hover {
        font-weight: 700;
        transition: all ease .1s;
    }
}

.menu-content-filterBtn.active {
    position: relative;
    border: 3px solid $secondary_600;
    border-left: 0;
    font-weight: 700;
    color: $secondary_600;
    background-color: $white;
    padding: 13px 12px 11px 11px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -3px;
        width: 3px;
        height: 100%;
        background-color: $white;
    }
}

.menu-kind-title {
    font-size: $h5;
    font-weight: 700;
    margin-bottom: 16px;
}

.menu-kind:nth-child(odd) {
    padding-right: 32px;
}

.menu-kind:nth-child(even) {
    padding-left: 32px;
}

.menu-kind {
    margin-bottom: 72px;

    td {
        text-align: center;
        border-bottom: 1px solid $gray_500;
    }

    .menu-kind-name {
        text-align: left;
    }

    .menu-kind-link {
        padding: 16px 8px;

        &:hover {
            color: $primary_900;
        }
    }

    .menu-kind-price {
        text-align: right;
        padding-right: 8px;
    }

    .score {
        font-size: $body1;
        font-weight: 400;
    }

    .rateSection {
        width: 100%;
        justify-content: center;
    }

    .star {
        width: 18px;
        height: 18px;
    }
}

.menu-kind-rate {
    width: 50px;
}

.menu-kind-special {
    i {
        font-size: $h5;
        padding-right: 4px;
    }

    .fa-snowflake {
        color: $secondary_600;
    }

    .fa-thumbs-up {
        color: $accent;
    }

    .fa-noCaffeing{
        width: 20px;
    }
}

.menu-kind-favorite {
    width: 50px;
}

#shops-menu .popupBG {
    display: none;
}

.drink-infor-imgOuter {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100%;

    img {
        position: absolute;
        height: 100%;
        width: auto;
        right: 50%;
        transform: translateX(50%);
    }
}

.drink-infor-title {
    font-family: $chiFont;

    .shopTag {
        display: inline-block;
        font-size: $body1;
        padding: 8px 24px 6px 24px;
    }

    .drinkName {
        font-size: $h3;
    }

    .size {
        font-size: $h5;
        font-weight: 500;
    }

    .capacity {
        font-size: $body2;
        font-weight: 400;
        color: $gray_600;
    }

    .priceInfor-divider {
        width: 1px;
        margin: 4px 32px;
        background-color: $black;
    }
}

.drink-infor-text {
    padding-left: 24px;
}

.drink-infor-func {
    text-align: right;

    .star,
    .starHalf,
    .starEmpty {
        width: 31px;
        height: 30px;
    }

    .score {
        font-size: $h3;
    }

    .heartBtn {
        padding-right: 0;
    }
}

#drink .popup {
    height: auto;
    padding: 80px 0;
}

#drink .popupBG {
    display: none;
}

.drinkCommentRate {
    display: flex;

    p {
        font-size: $h4;
        font-weight: 500;
    }

    .starEmpty,
    .star,
    .starHalf {
        width: 30px;
        height: 29.5px;
    }
}

.drinkCommentText {
    width: 100%;
    min-height: 200px;
    padding: 16px;
    border: 1px solid $gray_900;
    border-radius: 16px;
    font-size: $body1;
}

.drinkCommentImgOuter {
    height: 300px;
    overflow: hidden;
}

.drinkCommentBtn {
    text-align: right;

    .btn-shadow {
        font-size: $body1;
        padding: 12px 32px;
    }

    .send:hover {
        margin-left: 0;
        margin-right: 0;
    }

    .cancle {
        background-color: $white;
        margin-right: 16px;

        &:hover {
            margin-right: 8px;
        }
    }
}