#wheel {
    .container {
        height: calc(100vh - 64px);
    }

    .subtitle {
        background-color: $gray_900;
        color: $white;
        font-weight: 500;
    }
}

.wheelBtnImg {
    img {
        transition: all ease .5s;

        &:hover {
            filter: saturate(150%);
        }
    }

}

.wheelBtnImg img:hover::before {
    top: 8px;
    left: 8px;
}