$custom-utilities: ();
$custom-utilities: map-merge(
  (
    "font-family": (
      property: font-family,
      class: font,
      values: (
        sans: $font-family-sans,
        handwriting: $font-family-handwriting
      )
    ),
    "font-size": (
      rfs: false,
      responsive: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
    "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        30: 30%,
        40: 40%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        fit: fit-content
      )
    )
  ),
  $custom-utilities
);

$utilities: map-merge($utilities, $custom-utilities);

.img {
  &-full {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
