.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-stretch{
    flex: 1 1 0;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.position-a{
    position: absolute;
}