.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-stretch {
    flex: 1 1 0;
}

.justufy-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.position-a {
    position: absolute;
}

.w-100 {
    width: 100%;
}

.pointer-none {
    pointer-events: none;
}

.text-center {
    text-align: center;
}

.h-50 {
    height: 50%;
}

.white-border {
    text-shadow: -2px -2px 0 #ffffff, 0 -2px 0 #ffffff, 2px -2px 0 #ffffff, 2px 0 0 #ffffff, 2px 2px 0 #ffffff, 0 2px 0 #ffffff, -2px 2px 0 #ffffff, -2px 0 0 #ffffff;
}