// width
$max-width: 1320px;


// spacing
$min-space: 4px;
$space: 8px;


// color
$primary: #FFF066;
$primary_50: #FFFEF6;
$primary_100: #FFFEF1;
$primary_300: #FFF490;
$primary_600: #FFCD1A;
$primary_700: #EA9A00;
$primary_900: #AE7D00;

$secondary: #99E4EE;
$secondary_50: #F8FEFF;
$secondary_100: #EFFDFF;
$secondary_300: #C3F8FF;
$secondary_600: #66C5D2;
$secondary_700: #1ba1b3;
$secondary_900: #1D7B88;

$accent: #F095FF;
$accent_50: #FEFAFF;
$accent_100: #FDF3FF;
$accent_300: #F7C7FF;
$accent_600: #D271E2;
$accent_900: #92409F;

$pink: #EB8A7D;

$gray: #D1D1D1;
$gray_100: #F9F9F9;
$gray_300: #F3F2F2;
$gray_500: #BDBDBD;
$gray_600: #7C7C7C;
$gray_900: #3C3C3C;

$black: #000000;
$white: #ffffff;


// font family
$chiFont: 'Noto Sans TC';
$engFont: 'Oleo Script';


// font size
$display: 6rem; // 96px
$h1: 3rem; // 48px
$h2: 2.25rem; // 36px
$h3: 2rem; // 32px
$h4: 1.5rem; // 24px
$h5: 1.25rem; // 20px
$body1: 1rem; // 16px
$body2: 0.875rem; // 14px