.menu {
  position: relative;
  margin-right: 0;

  @include media-breakpoint-up(md) {
    margin-right: 44px;
  }

  td {
    padding: 12px 4px;

    @include media-breakpoint-up(md) {
      padding: 8px 4px;
    }
  }

  &-starImg {
    width: 18px;

    @include media-breakpoint-up(md) {
      width: 20px;
    }
  }

  &-price {
    width: 110px;

    @include media-breakpoint-up(md) {
      width: 130px;
    }
  }

  &-list {
    position: absolute;
    right: 0;
    top: 32px;
    transform: translateX(100%);
    li:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &-btn {
    padding: 12px 8px;
    border-radius: 0 8px 8px 0;
    background-color: $gray-100;
    border: 1px solid #000;
    border-left: 3px solid $secondary-600;
    transition: all ease 0.3s;
    span {
      writing-mode: vertical-lr;
      letter-spacing: 0.4em;
      margin-bottom: -0.6em;
      transition: all ease 0.3s;
    }

    &.active {
      margin-left: -1px;
      color: $secondary-700;
      background-color: #fff;
      font-weight: 500;
      background-color: #ffffff;
      border: 3px solid $secondary-600;
      border-left: 3px solid #ffffff;
      pointer-events: none;
    }

    &:not(.active):hover {
      background-color: $gray-100;
      border: 1px solid #000;
      border-left: 3px solid $secondary-600;
      padding-left: 20px;
    }
  }
}
