.title {
  &-angleStar,
  &-angleStar-dark {
    position: relative;
    display: inline-block;
    border-radius: 50px;
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      background: center / cover no-repeat url("../images/icon-deco-manyAngleStar.svg");
    }

    &-content {
      position: relative;
      margin-left: 42px;

      &::before,
      &::after {
        position: absolute;
      }

      &::before {
        content: "";
        top: 4px;
        left: -20px;
        height: calc(100% - 28px);
        width: 1px;
        background-color: #000;
      }

      &::after {
        content: "✦";
        bottom: -4px;
        left: -28px;
      }
    }
  }

  &-angleStar {
    padding: 0.3em 1em;
    border: 2px solid #000;
    background-color: $primary;
    color: #000;

    &::after {
      z-index: -1;
      bottom: 0;
      left: 0;
      transform: translate(-45%, -5%);
      width: 4.1em;
      height: 3.9em;
    }
  }

  &-angleStar-dark {
    padding: 0.3em 1em 0.3em 2em;
    border: 2px solid $gray-900;
    background-color: $gray-900;
    color: #fff;

    &::after {
      top: 50%;
      left: 0;
      transform: translate(-40%, -60%);
      width: 3em;
      height: 3em;
    }
  }

  &-stroke-2 {
    @include stroke($white, 2px);
  }
}
