// 「無線 LOGO」跟「有線 LOGO」的共同設定
.logo,
.logo-outline {
    position: relative;
    display: inline-block;
    padding: 44px 24px 16px 24px;
    background-color: $primary;
    transition: all ease .5s;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        background-color: $gray_900;
        transition: all ease .5s;
    }
}

// 「無線 LOGO」原始樣態即使看不到邊線與底色仍要寫出
// 邊線－hover 才不會跳動
// 底色－hover 才會有色塊移出的效果，而非單純顯現
.logo {
    border: 1px solid transparent;

    &::before {
        left: 0px;
        height: 100%;
    }
}


// 「有線 LOGO」原本就有邊線，並非「無線 LOGO」的 hover 版本
// 但「無線 LOGO」的 hover 版本跟「有線 LOGO」一樣
.logo-outline,
.logo:hover {
    border: 1px solid $gray_900;

    &::before {
        top: -2px;
        left: 4px;
        height: calc(100% + 6px);
    }
}

.logo-outline:hover:before {
    left: 0px;
    height: 100%;
}


// LOGO 文字樣式
.logo-text {
    font-size: 1.75vw;
    font-weight: 700;
}