.btn {
    padding: 8px 16px 6px 16px;
    border-radius: 40px;
    background-color: transparent;

    &:hover {
        background-color: $primary;
    }
}


// 功能按鈕：收藏、通知、會員
.heartBtn,
.bellBtn,
.userBtn {
    font-size: $h4;
    padding: 8px 12px;
}

.heartBtn {
    color: $accent;
}

.bellBtn {
    color: $secondary_600;
}

.userBtn {
    color: $primary_600;

    &:hover {
        color: $gray_900;
    }
}

.funcBtn-hover {
    .funcBtn-solid {
        display: none;
    }

    &:hover .funcBtn-outline {
        display: none;
    }

    &:hover .funcBtn-solid {
        display: inline-block;
    }
}

// 含圖片的按鈕
.imgBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover > img{
        border: 5px solid $primary;
        box-shadow: 4px 8px 0 0 transparent;
        margin-bottom: 18px;
        margin-left: -3px;
        margin-right: -3px;
    }
    &:hover > span{
        background-color: $primary;
        font-weight: 700;
    }

    img{
        margin-bottom: 24px;
        border-radius: 50%;
        border: 2px solid $gray_900;
        box-shadow: 4px 8px 0 0 $primary;
        transition: all ease .2s;
    }

    span{
        padding: 8px 24px 6px 24px;
        border-radius: 40px;
        font-size: $h5;
        transition: all ease .5s;
    }
}

// 有陰影的按鈕
.btn-shadow{
    padding: 16px 40px;
    border: 2px solid $gray_900;
    border-radius: 40px;
    box-shadow: 4px 8px 0 0 $gray_900;
    font-size: $h5;
    font-weight: 700;
    background-color: $primary;
    margin-right: 4px;
    

    &:hover{
        box-shadow: 0px 0px 0 0 $gray_900;
        margin-left: 4px;
        margin-top: 8px;
        margin-bottom: -8px;
    }
}