.btn {
    padding: 8px 16px 6px 16px;
    border-radius: 40px;
    background-color: transparent;

    &:hover {
        background-color: $primary;
    }
}


// 功能按鈕：收藏、通知、會員
.heartBtn,
.bellBtn,
.userBtn,
.outBtn {
    font-size: $h4;
    padding: 8px 12px;

    @include pad {
        font-size: $h2;
    }
}

.heartBtn {
    color: $accent;
}

.bellBtn {
    color: $secondary_600;
}

.userBtn {
    color: $primary_600;

    &:hover {
        color: $gray_900;
    }
}

.login .userBtn {
    color: $primary_700;

    &:hover {
        color: $primary_900;
    }
}

.outBtn {
    color: $primary_600;

    &:hover {
        color: $gray_900;
    }
}

.funcBtn-hover {
    .funcBtn-solid {
        display: none;
    }

    &:hover .funcBtn-outline {
        display: none;
    }

    &:hover .funcBtn-solid {
        display: inline-block;
    }
}

.heartBtn.active {
    .funcBtn-outline {
        display: none;
    }

    .funcBtn-solid {
        display: inline-block;
    }
}

.funcBtn-active {
    .funcBtn-outline {
        display: none;
    }

    &:hover .funcBtn-solid {
        display: none;
    }

    &:hover .funcBtn-outline {
        display: inline-block;
    }
}

// 含圖片的按鈕
.imgBtn {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover>img {
        border: 5px solid $primary;
        box-shadow: 4px 8px 0 0 transparent;
        margin-bottom: 18px;
        margin-left: -3px;
        margin-right: -3px;
    }

    &:hover>span {
        background-color: $primary;
        font-weight: 700;
    }

    img {
        margin-bottom: 24px;
        border-radius: 50%;
        border: 2px solid $gray_900;
        box-shadow: 4px 8px 0 0 $primary;
        transition: all ease .2s;
        pointer-events: none;
    }

    span {
        padding: 8px 24px 6px 24px;
        border-radius: 40px;
        font-size: $h5;
        transition: all ease .5s;
        pointer-events: none;
    }
}

.userImg {
    margin-bottom: 24px;
    border-radius: 50%;
    border: 2px solid $gray_900;
    box-shadow: 4px 8px 0 0 $primary;
    pointer-events: none;
}

// 有陰影的按鈕
.btn-shadow {
    padding: 16px 40px;
    border: 2px solid $gray_900;
    border-radius: 40px;
    box-shadow: 4px 8px 0 0 $gray_900;
    font-size: $h5;
    font-weight: 700;
    background-color: $primary;
    margin-right: 4px;


    &:hover {
        box-shadow: 0px 0px 0 0 $gray_900;
        margin-left: 4px;
        margin-top: 8px;
        margin-bottom: -8px;
        margin-right: 0;
    }
}

.btn-shadow.circle {
    position: relative;
    padding: 0;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;

    span {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        font-weight: 500;
    }
}

// 篩選按鈕
.filterBtnSection {
    position: relative;
    display: flex;
    align-items: center;
}

.filterBtn {
    padding: 14px;
    border-radius: 50%;
    border: 1px solid $gray_900;
    background-color: $primary;
}

.filterBtn.active,
.filterBtn:hover {
    background-color: $secondary;
}

.filterBtnList {
    max-height: 0px;
    position: absolute;
    top: 88px;
    right: 0;
    z-index: 10;
    width: 150px;
    padding: 0 12px;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 16px;
    background-color: $white;
    transition: all ease .5s;


    .item {
        width: 100%;
        padding: 8px 0 6px 0;
        margin-bottom: 8px;
        font-size: $h5;
        font-weight: 500;
        text-align: center;
        border-radius: 40px;
        border: 1px solid $gray_900;
        background-color: $secondary_300;
        color: $black;
    }

    .item.active,
    .item:hover {
        background-color: $primary_300;
    }

    .switchBar {
        width: 100%;
    }

    .filterBtn {
        padding: 14px 20px;
    }
}

.filterBtnSection:hover .filterBtnList {
    max-height: 400px;
    padding: 12px;
    border: 1px solid $gray_900;
}


// 下拉選單
.filterSection {
    display: block;
    position: relative;
    text-align: right;

    .selector {
        width: 180px;
        font-size: $body1;
        border: 1px solid $black;
        border-radius: 40px;
        padding: 12px 24px 12px 24px;
        appearance: none;

        &:focus-visible {
            border-color: $secondary_600;
            outline: 1px solid $secondary_600;
        }
    }

    .fa-caret-down {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        pointer-events: none;
    }
}