.message {
    position: relative;
    padding: 0 24px 16px 80px;
    font-family: $chiFont;
    border: 1px solid $black;
    border-radius: 16px;
}

.message-header {
    margin-top: -12px;
}

.message-photo {
    position: absolute;
    top: -24px;
    left: -24px;
}

.message-title,
.message-rate {
    padding: 0 4px;
    background-color: $white;
}

.message-name {
    font-size: $h5;
}

.message-allNum {
    font-size: $body2;
}

.message-rate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .star,
    .starHalf,
    .starEmpty {
        width: 19.5px;
        height: 19px;
    }
}

.message-infor {
    font-size: $body2;
    text-align: right;
    margin-bottom: 4px;
}

.message-date {
    display: inline-block;
    padding: 2px 12px;
    font-size: $body2;
    border-radius: 20px;
    background-color: $primary_300;
}

.message-hasPhoto {
    .photoGroup-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-size: $h5;
        }

        .star {
            width: 16.5px;
            height: 16px;
            margin-left: 0;
        }

        .score {
            font-size: $body1;
            font-weight: 500;
        }

        .size {
            display: inline-block;
            width: 20%;
        }
    }
}

.message-content {
    display: flex;
}

.message-likeThis {
    position: relative;
    padding-right: 33px;

    &:hover .fa-thumbs-up {
        color: $accent_600;
        border-color: $accent_600;
    }

    &:hover .likeThis-num {
        background-color: $accent_300;
    }

    .fa-thumbs-up {
        position: relative;
        z-index: 2;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $h4;
        border: 2px solid $black;
        border-radius: 50%;
        background-color: $white;
        transition: all ease .5s;
        pointer-events: none;
    }

    .likeThis-num {
        position: absolute;
        top: 22px;
        left: 20px;
        transform: translateY(-50%);
        padding: 2px 8px 4px 28px;
        border-radius: 20px;
        background-color: #FFF490;
        transition: all ease 0.3s;
        pointer-events: none;
    }
}

.message-divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed $gray;
    margin: 32px 0 48px 0;
}

.message-likeThis.active {
    .fa-thumbs-up {
        color: $accent_600;
        border-color: $accent_600;
    }

    .likeThis-num {
        background-color: $accent_300;
    }
}