.popup {
    position: absolute;
    height: 80vh;
    width: 70%;
    top: 50%;
    left: 50%;
    padding: 16px 26px 0 16px;
    border-radius: 16px;
    transform: translate(-50%, -45%);
    background-color: $white;

    .shopTag {
        position: absolute;
        top: 32px;
        left: -24px;
        padding: 20px 12px 20px 8px;
        font-size: $h4;
        font-weight: 500;
        letter-spacing: 4px;
        writing-mode: vertical-lr;
        background-color: $white;
    }
}

.popup.scroll::after {
    content: "";
    position: absolute;
    right: 26px;
    height: calc(100% - 86px);
    top: 64px;
    width: 12px;
    border-radius: 10px;
    background-color: $secondary_100;
    border: 1px solid $secondary;
}

.popupBG {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000070;
}

.popScroll {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: block;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $secondary;
        border: 1px solid $gray_600;
    }

    &::-webkit-scrollbar-track-piece:end {
        margin-bottom: 8px;
    }

    &::-webkit-scrollbar-track-piece:start {
        margin-top: 48px;
    }
}

.popup-close {
    z-index: 5;
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: $h3;
    color: $accent;

    &:hover {
        color: $primary_600;
    }
}