.product-img {
    .imgSection {
        position: relative;
        max-height: 340px;
        margin-bottom: 12px;
        padding: 12px 0 0 12px;
        overflow: hidden;
    }

    .shopName {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 24px 8px 24px;
        border: 1px solid $black;
        border-radius: 40px;
        font-size: $h5;
        background-color: $white;
    }

    .textSection {
        padding-left: 12px;
        color: $black;

        h6 {
            font-size: $h4;
            font-weight: 700;

        }

        .firstRow {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 12px;
        }

        // component - rate
        .rateSection {
            padding-top: 4px;
        }

        .score {
            margin-right: 4px;
            font-size: $h5;
            font-weight: 900;
        }

        .starSection {
            padding-bottom: 4px;
        }

        .star {
            width: 20px;
            height: 19.5px;
        }

        .secondRow {
            display: flex;
            justify-content: space-between;
        }

        .priceInfor {
            font-size: $h5;
        }
    }
}

.product-table {
    .hide {
        visibility: hidden;
    }

    thead th {
        padding: 16px 0 14px 0;
        font-size: $h5;
        font-weight: 500;
        background-color: $primary;

        &:first-child {
            padding-left: 30px;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }

        &:last-child {
            padding-right: 30px;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    }

    .reteColumn {
        width: 140px;
    }

    .caffeineColumn {
        width: 100px;
    }

    .facoriteColumn {
        width: 60px;
    }

    .itemSection td {
        display: table-cell;
        text-align: center;
        font-family: $chiFont;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid $gray_900;

        &:first-child {
            padding-left: 16px;
            text-align: left;
        }

        &:last-child {
            padding-right: 30px;
        }
    }

    .table-name {
        font-weight: 500;
        color: $secondary_700;
    }

    .table-shop {
        font-weight: 500;
        color: $accent_600;
    }

    .score {
        margin-right: 4px;
        font-size: $body1;
        font-weight: 500;
    }

    .star {
        width: 17.5px;
        height: 17px;
    }

    .table-special i:first-child {
        margin-right: 8px;
    }

    .fa-snowflake {
        font-size: $h5;
        color: $secondary_600;
    }

    .fa-thumbs-up {
        font-size: $h5;
        color: $accent;
    }
}