.rateSection {
  display: flex;
  align-items: center;
}

.score {
  font-size: $h2;
  font-weight: 900;
}

.starSection {
  display: flex;
  align-items: center;
}

.starBtn {
  .starEmpty:hover {
    background-image: url(../../IMAGES/star_full.svg);
  }
}

.star,
.starEmpty {
  display: inline-block;
  width: 38px;
  height: 36px;
  margin-left: 4px;
  background-size: cover;
}

.star {
  background-image: url(../../IMAGES/star_full.svg);
}

.starEmpty {
  background-image: url(../../IMAGES/star_empty.svg);
}