.switchBar {
    position: static;
    z-index: 1;
    padding: 8px 12px;
    border-radius: 50px;
    background-color: $white;
}

.switchBar-border {
    align-items: center;
    display: flex;
    border: 1px solid $gray_900;
    background-color: $primary;

    img {
        pointer-events: none;
    }
}

.switchBar-text a {
    font-size: $body1;
    padding: 20px 30px;
    border-radius: 50px;
}

.switchBar-text a:hover,
.switchBar .switch-active {
    background-color: $primary;
    font-weight: 700;
}

.switchBar-icon a {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.switchBar-border a:hover,
.switchBar-border .switch-active {
    background-color: $white;
    border: 1px solid $gray_900;
}