.subtitle {
    position: relative;
    display: inline-block;
    padding: 8px 24px 6px 24px;
    border-radius: 40px;
    border: 2px solid $gray_900;
    background-color: $primary;
    font-size: $h4;
    font-weight: 700;

    &::after {
        content: url(https://raw.githubusercontent.com/minnnn7716/whatToDrink/2a8886cf4ab84fbe0667038f97cbd46456cd4a45/IMAGES/deco_manyAngleStar.svg);
        position: absolute;
        z-index: -1;
        bottom: -.5em;
        left: -2em;
        transform: scale(.95);
    }
}

.subdiscrip {
    position: relative;
    margin-top: 16px;
    padding-left: 50px;
    font-size: $h5;

    &::before {
        content: "";
        position: absolute;
        left: 25px;
        width: 1px;
        height: 50%;
        border-left: 1px solid $gray_900;
    }

    &::after {
        content: "✦";
        position: absolute;
        left: 17px;
        bottom: 0;
    }
}